@{
    ViewData["Title"] = "Cars Data";
}
@model CarsViewModel

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Car Weight</th>
            <th scope="col">Horsepower</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars.OrderByDescending(m => m.Sku))
        {
            <tr>
                <td>@car.CarMake</td>
                <td>@car.CarModel</td>
                <td>@car.CarWeight lbs</td>
                <td>@car.Hp HP</td>
            </tr>
        }
    </tbody>
</table>
<form method="post" action="/Data/RateCar">
    @Html.LabelFor(model => model.Rating)
    @Html.TextBoxFor(model => model.Rating)
    <button type="submit">Submit</button>
</form>